GitKraken
BraveSoftware/
.org.chromium*
discord/
MongoDB Compass
dconf/
pulse/
nvim/plugin/
gh/
GIMP/
github-copilot/
inkscape/
mimeapps.list
gtk-*/
glib-*/
nitrogen/
yay/
systemd/
Electron/
Code/
turborepo/
ranger/plugins/
procps/
chromium/
Thunar/
xfce4/
Miru/
Postman/
Termius/
htop/
spotify/
menus/
Taskade/
PomoDoneApp/
obs-studio
libreoffice/